$dark-blue: #00003f;
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
      @content;
    }
    @-moz-keyframes #{$animation-name} {
      @content;
    }  
    @-ms-keyframes #{$animation-name} {
      @content;
    }
    @-o-keyframes #{$animation-name} {
      @content;
    }  
    @keyframes #{$animation-name} {
      @content;
    }
  }
  
  @mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};      
  }
.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2rem 1rem;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    
    .logo {
        font-size: 1.75rem;
    }

    .navLinks {
        display: flex;
        gap: 2rem;

        a {
            padding: 1rem;
            border: 2px solid transparent;
            border-radius: 0.5rem;


            &:hover {
                border: 2px solid white;
                border-radius: 0.5rem;
                background: $dark-blue;
            }

        }

        @media screen and (max-width: 601px) {
            position: absolute;
            top: 0;
            right: -20rem;
            width: 20rem;
            height: 100vh;
            background-color: $dark-blue;
            flex-direction: column;
            padding: 2rem 1rem;
            gap: 4rem;
        }
    }
}
.scrollNav{
    background: #00003f;
}
main {
    .hero__section {
        width: 100%;
        padding: 0 10%;
        padding-top: 10rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: top;

        @media only screen and (max-width:601px) {
            display:grid;
            grid-template-columns: 1fr;
            padding: 0 2rem;
            padding-top: 10rem;
            row-gap: 4rem;
        }

        article{
            .hero__sub__title{
                padding: 2rem 0;
            }
            .hero__main__title {
                font-size: 1.5rem;
                padding-top: 5rem;
                @media screen and (max-width:601px) {
                    padding: 0;
                }
            }
            .hero__para{
                position: relative;
                overflow: hidden;
                // width: 15rem;
                height: 1.5rem;
                line-height: 1.5rem;
                border-right: 4px solid white;
                @include animation('animation__5 16s linear 0s infinite');
            }
        }
    }
}
.para__child{
    position: absolute;
    top:0;
    left:0;
    visibility: hidden;
}
.span__1{
    animation: animation__1 16s ease-in-out 0s infinite;
    width: 13rem;
    visibility: visible;
}
.span__2{
    width: 15rem;
    visibility: hidden;
    animation: animation__2 16s ease-in-out 0s infinite;
}
.span__3{
    width: 15rem;
    visibility: hidden;
    animation: animation__3 16s ease-in-out 0s infinite;
}
.span__4{
    width: 15rem;
    visibility: hidden;
    animation: animation__4 16s ease-in-out 0s infinite;
}
@keyframes animation__1 {
    0% {visibility: visible;}
    24% {visibility: visible;}
    25% {visibility: hidden;}
    100% {visibility: hidden;}
}

@keyframes animation__2 {
    0% {visibility: hidden;}
    24% {visibility: hidden;}
    25% {visibility: visible;}
    49% {visibility: visible;}
    50% {visibility: hidden}
    100%{visibility: hidden;}
}
@keyframes animation__3 {
    0% {visibility: hidden;}
    49% {visibility: hidden;}
    50% {visibility: visible}
    74% {visibility: visible;}
    75% {visibility: hidden;}
    100%{visibility: hidden;}
}

@keyframes animation__4 {
    0% {visibility: hidden;}
    74% {visibility: hidden;}
    75% {visibility: visible;}
    99% {visibility: visible;}
    100%{visibility: hidden;}
}
  
  @include keyframes(animation__5) {
    0% { width: 0; }
    12% {width: 13rem;}
    25% {width: 0rem;}
    37% {width: 10rem;}
    50% {width: 0rem;}
    62% {width: 11rem;}
    75% {width: 0rem;}
    87% {width: 15rem;}
    100% { width:0rem; }
  }