$silver-grey: #C0C0C0;
$dark-blue: #00003f;
// $silver-grey: #404040;
.project__section {
    width: 100%;
    padding: 10rem 12%;
    padding-bottom: 5rem;
    position: relative;

    @media screen and (max-width: 601px) {
        padding: 5rem 2rem;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 4rem;
        text-align: center;
    }

    .project__container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 6rem;

        .project {
            width: 100%;
            position: relative;
            cursor: pointer;
            overflow: hidden;

            &::before {
                position: absolute;
                top: 0.5rem;
                content: '';
                left: 50%;
                transform: translateX(-50%);
                // width: 7rem;
                // height: 0.5rem;
                // border-radius: 0.2rem;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                background-color: #808080;
            }

            &::after {
                position: absolute;
                bottom: 1.5rem;
                z-index: -1;
                content: '';
                left: 50%;
                transform: translateX(-50%);
                width: 7rem;
                height: 0.5rem;
                border-radius: 0.2rem;
                background-color: #808080;
            }

            img {
                width: 100%;
                border-radius: 0.4rem;
                border-top: 3rem solid $silver-grey;
                border-bottom: 3rem solid $silver-grey;
                border-left: 1.5rem solid $silver-grey;
                border-right: 1.5rem solid $silver-grey;

            }

            img:nth-child(2) {
                display: none;
            }

            @media screen and (max-width: 601px) {
                width: 360px;
                margin: 0 auto;

                img {
                    border-radius: 1rem;
                    border-top: 2.5rem solid $silver-grey;
                    border-bottom: .5rem solid $silver-grey;
                    border-left: .5rem solid $silver-grey;
                    border-right: .5rem solid $silver-grey;
                }

                img:nth-child(1) {
                    display: none;
                }

                img:nth-child(2) {
                    display: block;
                }

                &::after {
                    top: 8rem;
                    left: 100%;
                    width: 0.5rem;
                    height: 4rem;
                    background-color: $silver-grey;
                }
            }

            .layover {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 100%;
                left: 0;
                border-radius: 0.4rem;
                background-color: rgba(0, 0, 63, 0.8);
                transition: 0.5s ease-in-out;
            }

            &:hover .layover {
                top: 0;
            }

            .project__info {
                display: flex;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                padding: 0 2rem;
                padding-top: 10rem;
                align-items: center;
                flex-direction: column;
                gap: 4rem;
                transition: 0.5s ease-in-out;

                @media screen and (max-width:601px) {
                    padding-top: 2rem;
                    gap: 2rem;
                    text-align: center;
                }
                .project__links {
                    font-size: 2rem;

                    @media screen and (max-width:601px) {
                        margin: 0;
                        font-size: 1rem;
                        img{
                            width: 1rem;
                        }
                    }
                    span {
                        margin-right: 2rem;
                    }

                    img {
                        width: 2rem;
                        border: none;
                        display: inline-block;
                    }
                }
            }

            &:hover .project__info {
                top: 0;
            }

            h3,
            h4 {
                padding: 0 5rem;
                font-weight: normal;
                line-height: 1.5rem;
                @media screen and (max-width: 601px) {
                    padding: 0;
                }
            }

            h3 {
                font-size: 1.5rem;
            }
        }
    }
    .more__work__btn{
        width: 10rem;
        background-color: $dark-blue;
        height: 4rem;
        border-radius: 0.5rem;
        border:none;
        font-size: 1.25rem;
        margin: 0 42%;
        margin-top: 4rem;
    }
}

.cloud__4{
    position: absolute;
    top:-20rem;
    left: 0;
    z-index: -1;
}
.cloud__5{
    position: absolute;
    top:-30rem;
    left: 40rem;
    z-index: -1;
}
.cloud__6{
    position: absolute;
    top:30rem;
    left: 90rem;
    z-index: -1;
}
.cloud__7{
    position: absolute;
    top:45rem;
    left: 30rem;
    z-index: -1;
}
.moon{
    position: absolute;
    top: -5rem;
    left: 35%;
    width: 10rem;
    z-index: -1;
    img{
        width: 100%;
    }
}

.more__work__section{
    width:100%;
    background-color: rgba(244,244,244,0.1);
    backdrop-filter: blur(10px);
    padding: 5rem 5%;
    min-height: 100vh;
    display: none;
    position: relative;
    .close__work{
        position: absolute;
        right:5%;
        top: 5rem;
    }
    h2{
        text-align: center;
        margin-bottom: 2rem;
    }
    .more__work__container{
    
        z-index: 4;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .work:nth-child(1)
        {
            grid-column: 1/4;
        }
        .work:nth-child(5){
            grid-column: 1/2;
        }
        .work:nth-child(6)
        {
            grid-column: 2/5;
        }
        .work:nth-child(3){
            grid-column: 1/3;
        }
        .work:nth-child(4){
            grid-column: 3/5;
        }
        .work{
            position: relative;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
            .work__layover{
                position: absolute;
                top:100%;
                width: 100%;
                left: 0;
                height: 100%;
                background-color: rgba(0, 0, 63, 0.8);
                display: grid;
                grid-template-columns: 1fr;
                justify-items: center;
                align-items: center;
                transition: 0.5s ease-in-out;
                p{
                    font-size: 2rem;
                    align-self: flex-start;
                    text-align: center;
                }
                .work__links{
                    align-self: center;
                    a{
                        display: inline;
                        margin-right: 1rem;
                        img{
                            width: 2rem;
                        }
                    }
                    span{
                        font-size: 1rem;
                    }
                }
            }
            &:hover .work__layover{
                top:0;
            }
        }
    }
}
.show__more__work{
    display: block;
}